body {
    margin: 0;
    font-family: "Inter";
}

.pointer {
    cursor: pointer;
}

.overallContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.forgotPasswordContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 825px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 3px solid #e3e1e1bb;
    border-radius: 15px;
}

.joinSymbol {
    width: 100px;
    height: 100px;
    margin: 40px;
}

.headline {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
}

.blueHorizontalLine {
    border-bottom: 3px solid #29ABE2;
    width: 150px;
    margin: 40px 0;
}

.txt {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.buttonSend {
    font-size: 20px;
    padding: 8px 12px;
    color: white;
    margin: 20px 0;
    height: 45px;
    background-color: #2A3647;
    border-radius: 5px;
}

/* .email {
    height: 20px;
    width: 250px;
    font-size: 14px;
    background-image: url(assets/icons/Input_Email.png);
    background-size: 10px 10px;
    background-position: 240px;
    background-repeat: no-repeat;
    padding: 8px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 20px 0;
}

.email::placeholder {
    color: #e3e1e1;
}
*/

.arrowIMGPW {
    position: absolute;
    top: 42px;
    left: 37px;
}

@media(max-width: 1125px) {
    .joinSymbolContainer {
        display: none;
    }
}

@media(max-width: 850px) {
    .forgotPasswordContainer {
        height: 600px;
        width: 400px;
    }

    .arrowIMGPW {
        top: 17px;
        left: 23px;
    }

    .headline {
        width: 300px;
    }

    .txt {
        width: 350px;
    }
}

@media(max-width: 850px) {
    .forgotPasswordContainer {
        height: 600px;
        width: 400px;
    }
}

@media(max-width: 430px) {
    .forgotPasswordContainer {
        height: 550px;
        width: 310px;
    }

    .arrowIMGPW {
        top: 13px;
        left: 19px;
    }

    .txt {
        width: 280px;
    }
}