html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter";
}

.overallContainer {
    width: 100%;
    height: 100vh-80px;
    background-color: #F5F5F5;
    display: flex;
}

.rightContainer {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: 232px;
    margin-right: 80px;
    margin-top: 130px;
}

.legalNoticeContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.headline {
    display: flex;
    justify-content: space-between;
}

.arrowIMG {
    padding-right: 20px;
}

@media(max-width: 850px) {
    .rightContainer {
        margin-left: 170px;
        margin-right: 50px;
    }
}

@media(max-width: 670px) {
    .leftTemplate {
        display: none;
    }

    .rightContainer {
        margin-left: 0;
        align-items: center;
    }

    .legalNoticeContainer {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
}