body {
    margin: 0;
    font-family: "Inter";
}

.pointer {
    cursor: pointer;
}

.overallContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

.showConfirmResetPasswordImg {
    position: absolute;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resetPasswordContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 825px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 3px solid #e3e1e1bb;
    border-radius: 15px;
}

.joinSymbol {
    width: 100px;
    height: 100px;
    margin: 40px;
}

.headline {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
}

.blueHorizontalLine {
    border-bottom: 3px solid #29ABE2;
    width: 150px;
    margin: 40px 0;
}

.within_input {
    display: flex;
    flex-direction: column;
}

.buttonContinue {
    font-size: 20px;
    padding: 8px 12px;
    color: white;
    margin: 20px 0;
    height: 45px;
    background-color: #2A3647;
    border-radius: 5px;
}

.buttonContinue:hover {
    cursor: pointer;
    color: white;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    background: #29ABE2;
    border: none;
    /*     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
*/
}

.arrowIMGPW {
    position: absolute;
    top: 42px;
    left: 37px;
}

.resetPassword,
.confirmResetPassword {
    height: 25px;
    width: 250px;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin: 20px 0;
}

.resetPassword {
    margin-bottom: 0;
}

@media(max-width: 1125px) {
    .joinSymbolContainer {
        display: none;
    }
}

@media(max-width: 850px) {
    .resetPasswordContainer {
        height: 600px;
        width: 400px;
    }

    .arrowIMGPW {
        top: 17px;
        left: 23px;
    }

    .headline {
        width: 300px;
    }
}

@media(max-width: 850px) {
    .resetPasswordContainer {
        height: 600px;
        width: 400px;
    }

    .showConfirmResetPasswordImg {
        top: 35%;
        width: 300px;
    }
}

@media(max-width: 430px) {
    .resetPasswordContainer {
        height: 550px;
        width: 310px;
    }

    .arrowIMGPW {
        top: 13px;
        left: 19px;
    }
}