/* -----------Add Task----------*/

.urgent {
  background-color: var(--urgent) !important;
  color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) !important;
}

.medium {
  background-color: var(--medium) !important;
  color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) !important;
}
.low {
  background-color: var(--low) !important;
  color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2) !important;
}

::placeholder {
  font-size: 20px;
  color: #cdcdcd;
}
.pointer {
  cursor: pointer;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 232px;
  margin-top: 80px;
  height: 88vh;
  padding-bottom: 48px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 32px;
}
.content-container p {
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}
.content-container h1 {
  margin: 0;
  font-size: 30px;
}
.task-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 24px;
}
/*leftSide*/
.content-left {
  border-right: 1px solid #d1d1d1;
  width: 50%;
  padding-right: 60px;
  padding-bottom: 56px;
}
.content-left input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  padding-left: 21px;
  border: 1px solid var(--grey);
  font-size: 18px;
}
.content-left textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 112px;
  border-radius: 10px;
  padding: 13px;
  padding-left: 21px;
  border: 1px solid var(--grey);
  font-family: "inter";
  font-size: 18px;
}
.content-left select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  padding-left: 21px;
  border: 1px solid var(--grey);
  font-size: 18px;

  /*background-image: linear-gradient(to bottom, #ddd, #eee 33%);*/
}

/*rightSide*/
.content-right {
  width: 50%;
  padding-left: 60px;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  padding-left: 21px;
  border: 1px solid var(--grey);
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}

input[type="checkbox"] {
  margin-right: 16px;
}

.prio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.prio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-size: 18px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
.prio-btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.prio-btn img {
  margin-left: 10px;
  width: 16px;
}
.new-subtask {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.new-subtask img {
  margin-right: 20px;
}

/*buttonsBelow*/
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.create-btn {
  font-size: 25px;
  border-radius: 10px;
  padding: 12px;
  background-color: var(--blue);
  color: white;
  border: 2px solid transparent;
}
.create-btn:hover {
  transform: scale(1.02);
  background-color: var(--light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.clear-btn {
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid var(--blue);
  padding: 12px;
  background-color: #f6f7f8;
  color: var(--blue);
  margin-right: 24px;
}
.clear-btn:hover {
  transform: scale(1.02);
  border: 2px solid var(--light-blue);
  color: var(--light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*------------add task end------------*/

/*--------task_form--------*/

.taskFormOverlay {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}
.task-form {
  min-width: 90vw;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 24px 56px 56px 56px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.task-form p {
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0;
}
.task-form h1 {
  margin: 0;
}

.task-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-head img {
  width: 22px;
}

@media (max-width: 1285px) {
  .prio-btn {
    padding: 8px;
  }
  .content-container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (max-width: 1085px) {
  .content-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content-left {
    padding-right: 24px;
  }
  .content-right {
    padding-left: 24px;
  }
  .prio-btn {
    font-size: 14px;
  }
  .prio-btn img {
    width: 14px;
  }
}
@media (max-width: 850px) {
  .content-container {
    margin-left: 200px;
  }
}

@media (max-width: 670px) {
  .content-container {
    margin-left: 0px;
    padding-bottom: 80px;
  }
}
