<body>
  <header>
    <p>Kanban Poject Management Tool</p>
    <img class="header-logo" src="../assets/icons/logo-black.png" />
    <div class="header-content-right">
      <a href="../../help.html">
        <img src="../assets/icons/question-mark.svg" />
      </a>
      <div onclick="showLogout()" class="myProfile">
        <img src="../assets/icons/question-mark.svg" />
      </div>
    </div>
    <a id="logout" class="logout d-none" href="index.html">
      <div>Logout</div>
    </a>
  </header>

  <div class="sideMenuContainer">
    <div class="logoContainer">
      <img class="menuLogo" src="../assets/icons/join_logo.svg" />
    </div>
    <div class="menuGap">
      <div class="textContainer">
        <a href="summary.html">
          <div class="menuText">
            <img src="../assets/icons/summary-icon.svg" />
            Summary
          </div>
        </a>
        <a href="board.html">
          <div class="menuText">
            <img src="../assets/icons/board-icon.svg" />
            Board
          </div>
        </a>
        <a href="add_task.html">
          <div class="menuText">
            <img src="../assets/icons/addtask-icon.svg" />
            Add Task
          </div>
        </a>
        <a href="contacts.html">
          <div class="menuText">
            <img src="../assets/icons/contacts-icon.svg" />
            Contacts
          </div>
        </a>
      </div>

      <a href="legal.html">
        <div class="menuText hideMobile">
          <img src="../assets/icons/legal-notice.svg" />
          Legal notice
        </div>
      </a>
    </div>
  </div>
</body>
