<body>
  <header>
    <p>Kanban Poject Management Tool</p>
    <div class="header-content-right">
      <img src="../assets/icons/question-mark.svg" />
      <div class="myProfile">
        <img src="../assets/icons/question-mark.svg" />
      </div>
    </div>
  </header>

  <div class="sideMenuContainer">
    <div class="logoContainer">
      <img class="menuLogo" src="../assets/icons/join_logo.svg" />
    </div>
    <div class="menuGap">
      <div class="textContainer">
        <div class="menuText">
          <img src="../assets/icons/summary-icon.svg" />
          <a href="summary.html"> Summary</a>
        </div>
        <div class="menuText">
          <img src="../assets/icons/board-icon.svg" />
          <a href="board.html"> Board</a>
        </div>
        <div class="menuText">
          <img src="../assets/icons/addtask-icon.svg" />
          <a href="add_task.html"> Add Task</a>
        </div>
        <div class="menuText">
          <img src="../assets/icons/contacts-icon.svg" />
          <a href="contacts.html"> Contacts</a>
        </div>
      </div>

      <div class="menuText">
        <img src="../assets/icons/legal-notice.svg" />
        <a href="legal.html">Legal notice</a>
      </div>
    </div>
  </div>
</body>
