<body>
  <header>
    <p>Kanban Poject Management Tool</p>
    <div class="header-content-right">
      <img src="../../icons/question-mark.svg" />
      <div class="myProfile"><img src="../../icons/question-mark.svg" /></div>
    </div>
  </header>

  <div class="sideMenuContainer">
    <div class="logoContainer">
      <img class="menuLogo" src="../../icons/logo-white.png" />
    </div>
    <div class="menuGap">
      <div class="textContainer">
        <div class="menuText">
          <img src="../../icons/summary-icon.svg" />
          <p>Summary</p>
        </div>
        <div class="menuText">
          <img src="../../icons/board-icon.svg" />
          <p>Board</p>
        </div>
        <div class="menuText">
          <img src="../../icons/addtask-icon.svg" />
          <p>Add Task</p>
        </div>
        <div class="menuText">
          <img src="../../icons/contacts-icon.svg" />
          <p>Contacts</p>
        </div>
      </div>

      <div class="menuText">
        <img src="../../icons/legal-notice.svg" />
        <p>Legal notice</p>
      </div>
    </div>
  </div>
</body>
